body {
	height: 100%;
	margin:0;
	background-color: white;
	font-size: 18px;
	font-family: 'Inconsolata', monospace;
	letter-spacing: .5px;
	font-weight: 400;
	color: #F5ECEE;
}

#wrapper{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: url("index.jpg") no-repeat center center;
	background-size: contain;
	height: 480px ;
	width: auto;
}

form {
	max-width: 600px;
	height: 300px;
	padding: 2em;
}

form p{
	margin-bottom: 18px;
	font-size: 1em;
	line-height: 1.5em;
}

form fieldset{
	margin-bottom: 28px;
	padding: 0;
	border: none;
}

form a.continue {
	font-size: 1.3em;
	background-color: #F5ECEE;
	color: black;
	padding: .5em 1em;
	text-decoration: none;
	float: right;
}

form a.continue:hover, form a.continue:focus {
	background-color: #DA966A;
	color: #463822;
}


button.reset{
	background-color: transparent;
	border: none;
	color: white;
}

button.reset:hover{
	color: #DA966A;
}

form label span{
	display: block;
	box-sizing: border-box;
	margin-bottom: 8px;
	padding: 14px 12px;
	border: 2px solid #DA966A;
	cursor: pointer;
	border-radius: 25px ;
}

form label:hover span, form label:focus span{
	border: 2px solid #DA966A;
	background-color: #F5ECEE;
	color: #463822;
}

form input[type=radio] {
	visibility: hidden;
}

form input [type=radio]:checked + span{
	border: 2px solid #DA966A;
	background-color: #F5ECEE;
	color: #463822;
}